<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://iconsult.com.pk/">
                        Internet Banking By DIGI-BANK
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made By <a href="https://iconsult.com.pk/" target="_blank">iConsult </a>
            All rigths Reserved
        </div>
    </div>
</footer>