<!--component html goes here -->
<div class="main-content pb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 Main-SecondRow p-0">
        <div class="col-md-12 col-sm-6 p-0">
          <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Accounts
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <accounts-section [Selected]="true"></accounts-section>
                  <accounts-section></accounts-section>
                  <accounts-section></accounts-section>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Card Management
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="row" style="margin: auto; width: 69%;">
                    <div class="col-lg-12 DebitCards">
                      <div class="ImgDivMain">
                        <div class="ImgDiv">
                          <img src="../../../assets/img/cards/card1.png" alt="">
                        </div>
                        <div class="ImgDiv">
                          <img src="../../../assets/img/cards/card2.png" alt="" style="width: 52vh;">
                        </div>
                      </div>
                      <div class="CardButtonActivate">
                        <h4>Activate / Deactivate</h4>
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" checked="">
                            <span class="toggle"></span>
                            Toggle is on
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Funds Transfer
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="TableMain">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Transaction Date</th>
                          <th>Description</th>
                          <th>Debit</th>
                          <th>Credit</th>
                          <th class="text-right">Available Balance</th>
                          <!--   <th class="Debitext-right">Actions</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                        <tr>
                          <td>20/11/23</td>
                          <td>Opening Balance</td>
                          <td>1,500</td>
                          <td> 99,225</td>
                          <td class="text-right">&euro; 199,225</td>
                          <!-- <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                  <i class="fa fa-user"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                  <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                  <i class="fa fa-times"></i>
                                                </button>
                                              </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class=" col-lg-4 mt-4">
            <div class="container ">
              <div class="card-accordion">
                <div class="div">
                  <div class="div-2 d-flex justify-content-between">
                    <div class="div-3">My Card</div>
                    <i class="fa fa-ellipsis-v" aria-hidden="true" style="padding-top: 6px;"></i>
                  </div>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header div-13" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne">
                          New Card
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body div-10">
                          <div class="atm-card">
                            <img src="../../../assets/img/cards/my-card.png" class="img-fluid">
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                            <div>Deactivate Your Card</div>
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="div-33">Card Holder</div>
                            <div class="div-34">Mirza Uraib</div>
                          </div>
                          <div class="div-35 d-flex justify-content-between">
                            <div class="div-36">Expire</div>
                            <div class="div-37">12/10/2025</div>
                          </div>
                          <div class="div-38 d-flex justify-content-between">
                            <div class="div-39">Card Number</div>
                            <div class="div-40">0123 4567 8910 1112</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion mt-2" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header div-13" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo">
                          Credit Card
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body div-10">
                          <div class="atm-card">
                            <img src="../../../assets/img/cards/my-card.png" class="img-fluid">
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                            <div>Deactivate Your Card</div>
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="div-33">Card Holder</div>
                            <div class="div-34">Mirza Uraib</div>
                          </div>
                          <div class="div-35 d-flex justify-content-between">
                            <div class="div-36">Expire</div>
                            <div class="div-37">12/10/2025</div>
                          </div>
                          <div class="div-38 d-flex justify-content-between">
                            <div class="div-39">Card Number</div>
                            <div class="div-40">0123 4567 8910 1112</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>