<div class="container-fluid " style="background-color: #F9FAFC;">
  <div class="row">
    <!-- Sidebar Column -->
    <!-- <app-sidebar></app-sidebar> -->
    <!-- header -->
    <div class="ml-sm-auto col-lg-10 mt-2">
      <div class="main-card">
        <section id="Navbar">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand mr-auto" href="#">
                Manage Internet Banking
                <p class="manage-text">Manage Your Bank Account</p>
              </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <div class="has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="d-flex align-items-center ml-3">
                      <div class="circle-icon">
                        <i class="fas fa-cog"></i>
                      </div>
                      <div class="circle-icon ml-3">
                        <i class="fas fa-bell"></i>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="row">
                      <div class="col">
                        <h5 class="m-0">Welcome</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex align-items-center">
                        <h6 class="m-0">Mirza Uraib</h6>
                        <i class="fa fa-angle-down ml-1"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <hr  class="divider">
        </section>

        <section id="account-details" class="mt-2">
          <div class="container">
            <!-- Account details section -->
            <div class="row">
              <div class="col-lg-5 mt-4">
                <div class="account-section">
                  <div class="account-header d-flex justify-content-between align-items-center">
                    <h5 class="account-title mt-2">Total Balance</h5>
                    <div class="dropdown">
                      <button class="btn fa fa-ellipsis-v" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-edit me-2"></i>Edit</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-share-alt me-2"></i>Share</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <h3 class="account-amount">Rs. ******</h3>
                    <i class="far fa-eye fa-lg ml-2"></i>
                  </div>
                  <h4 class="account-description">Meezan Bank Savings Foreign Accounts.</h4>
                  <div class="d-flex align-items-center">
                    <i class="far fa-arrow-alt-circle-up fa-lg text-success mr-2"></i>
                    <h6 class="mb-0">Rs. 55,000</h6>
                    <i class="far fa-arrow-alt-circle-down fa-lg text-danger ml-3"></i>
                    <h6 class="mb-0 ml-2">Rs. 10,000</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-7">
                    <!-- Menu items section -->
                    <div class="menu-container justify-content-center align-items-center ">
                      <div class="row gx-2 gy-2">
                        <div class="col-4 mb-2 ">
                          <div class="menu d-flex flex-column ">
                            <img src="../../../assets/img/cards/SendMoney.png" alt="Send Money">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                        <div class="col-4 mb-2 ">
                          <div class="menu d-flex flex-column align-items-center">
                            <img src="../../../assets/img/cards/History.png" alt="History">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                        <div class="col-4 mb-2 ">
                          <div class="menu d-flex flex-column align-items-center">
                            <img src="../../../assets/img/cards/Wallet.png" alt="Wallet">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                      </div>
                      <div class="row gx-2 gy-2">
                        <div class="col-4 ">
                          <div class="menu d-flex flex-column align-items-center">
                            <img src="../../../assets/img/cards/Bank.png" alt="Bank">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                        <div class="col-4 ">
                          <div class="menu d-flex flex-column align-items-center">
                            <img src="../../../assets/img/cards/SendMoney.png" alt="Send Money">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                        <div class="col-4 ">
                          <div class="menu d-flex flex-column align-items-center">
                            <img src="../../../assets/img/cards/SendMoney.png" alt="Send Money">
                          </div>
                          <p class="menu-description">Send Money</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-5 d-flex align-items-center">
                    <img src="../../../assets/img/cards/illustartion.png" class="illustration-img" alt="Illustration"
                      style="width: 17rem;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="d-flex flex-row">
          <div class="flex-column">
            <div class=" col-lg-12 mt-4 p-0">
              <section id="all-beneficiary" class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="account-title">
                    Accounts
                  </div>
                  <button class="btn add-new-container border border-dashed border-info p-2 rounded mb-3">
                    <div class="d-flex align-items-center gap-2">
                      <div class="add-container"></div>
                      <div class="add-new-text">
                        Add New
                      </div>
                    </div>
                  </button>
                </div>

                <div class="beneficiary-cards align-items-center">
                  <div class="row">
                    <!-- beneficiary-card 1 starts -->
                    <div class="col-12">
                      <div class="card flex-grow-1">
                        <div class="card-body d-flex align-items-center">
                          <h6 class="beneficiary-title-logo">M</h6>
                          <div class="flex-grow-1">
                            <h6 class="fw-bold">Mirza Uraib</h6>
                            <h6 class="text-muted">00257 596, 00202 899</h6>
                          </div>
                          <div class="d-flex flex-column ms-auto">
                            <h6 class="fw-bold">Status</h6>
                            <h6 class="text-muted">Current</h6>
                          </div>
                          <div class="d-flex flex-column">
                            <h6 class="text-primary fw-bold">Rs. 36,254</h6>
                            <h6 class="text-muted">Savings Foreign Accounts</h6>
                          </div>
                          <i class="fas fa-edit fa-lg"></i>
                          <button class="btn badge bg-success mt-2 ms-auto">Active</button>
                        </div>
                      </div>
                    </div>
                    <!-- beneficiary-card 1 end -->
 
                    <!-- beneficiary-card 2 starts -->
                    <div class="col-12">
                      <div class="card flex-grow-1">
                        <div class="card-body d-flex align-items-center">
                          <h6 class="beneficiary-title-logo">M</h6>
                          <div class="flex-grow-1">
                            <h6 class="fw-bold">Mirza Uraib</h6>
                            <h6 class="text-muted">00257 596, 00202 899</h6>
                          </div>
                          <div class="d-flex flex-column ms-auto">
                            <h6 class="fw-bold">Status</h6>
                            <h6 class="text-muted">Current</h6>
                          </div>
                          <div class="d-flex flex-column">
                            <h6 class="text-primary fw-bold">Rs. 36,254</h6>
                            <h6 class="text-muted">Savings Foreign Accounts</h6>
                          </div>
                          <i class="fas fa-edit fa-lg"></i>
                          <button class="btn bg-disable mt-2 ms-auto">Disable</button>
                        </div>
                      </div>
                    </div>
                    <!-- beneficiary-card 2 end -->
 
                    <!-- beneficiary-card 3 starts -->
                    <div class="col-12">
                      <div class="card flex-grow-1">
                        <div class="card-body d-flex align-items-center">
                          <h6 class="beneficiary-title-logo">M</h6>
                          <div class="flex-grow-1">
                            <h6 class="fw-bold">Mirza Uraib</h6>
                            <h6 class="text-muted">00257 596, 00202 899</h6>
                          </div>
                          <div class="d-flex flex-column ms-auto">
                            <h6 class="fw-bold">Status</h6>
                            <h6 class="text-muted">Current</h6>
                          </div>
                          <div class="d-flex flex-column">
                            <h6 class="text-primary fw-bold">Rs. 36,254</h6>
                            <h6 class="text-muted">Savings Foreign Accounts</h6>
                          </div>
                          <i class="fas fa-edit fa-lg"></i>
                          <button class="btn bg-disable mt-2 ms-auto">Disable</button>
                        </div>
                      </div>
                    </div>
                    <!-- beneficiary-card 3 end -->
 
                    <!-- beneficiary-card 4 starts -->
                    <div class="col-12">
                      <div class="card flex-grow-1">
                        <div class="card-body d-flex align-items-center">
                          <h6 class="beneficiary-title-logo">M</h6>
                          <div class="flex-grow-1">
                            <h6 class="fw-bold">Mirza Uraib</h6>
                            <h6 class="text-muted">00257 596, 00202 899</h6>
                          </div>
                          <div class="d-flex flex-column  ms-auto">
                            <h6 class="fw-bold">Status</h6>
                            <h6 class="text-muted">Current</h6>
                          </div>
                          <div class="d-flex flex-column">
                            <h6 class="text-primary fw-bold">Rs. 36,254</h6>
                            <h6 class="text-muted">Savings Foreign Accounts</h6>
                          </div>
                          <i class="fas fa-edit fa-lg"></i>
                          <button class="btn bg-disable mt-2 ms-auto">Disable</button>
                        </div>
                      </div>
                    </div>
                    <!-- beneficiary-card 4 end -->
                  </div>
                </div>
              </section>

            </div>
            <div class=" col-lg-12 mt-4 p-0">
              <section id="quick-transfer">
                <div class="container">
                  <div class="card">
                    <div class="heading">
                      <h3 class="left-heading">Quick Transfer</h3>
                      <h3 class="right-heading">Rs. 36,254</h3>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="transfer-cards">
                          <div class="box">
                            <div class="box-content box-color-1 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">F</h6>
                            </div>
                            <div class="box-title">
                              <h6>Fatima</h6>
                              <h6 class="text-muted">Meezan Bank</h6>
                            </div>
                          </div>
                          <div class="box">
                            <div class="box-content box-color-2 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">B</h6>
                            </div>
                            <div class="box-title">
                              <h6>Bisma</h6>
                              <h6 class="text-muted">Bank Alfalah</h6>
                            </div>
                          </div>
                          <div class="box">
                            <div class="box-content box-color-3 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">S</h6>
                            </div>
                            <div class="box-title">
                              <h6>Sameer</h6>
                              <h6 class="text-muted">Bank Alfalah</h6>
                            </div>
                          </div>
                          <div class="box">
                            <div class="box-content box-color-4 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">A</h6>
                            </div>
                            <div class="box-title">
                              <h6>Amna</h6>
                              <h6 class="text-muted">Bank HBL</h6>
                            </div>
                          </div>
                          <div class="box">
                            <div class="box-content box-color-5 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">S</h6>
                            </div>
                            <div class="box-title">
                              <h6>Sidra</h6>
                              <h6 class="text-muted">Bank Alfalah</h6>
                            </div>
                          </div>
                          <div class="box">
                            <div class="box-content box-color-6 align-items-center gap-1">
                              <h6 class="display-4 text-white transfer-title-logo">A</h6>
                            </div>
                            <div class="box-title">
                              <h6>Amna</h6>
                              <h6 class="text-muted">Bank HBL</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row mt-2">
                        <div class="col">
                          <div class="amount-title">Amount</div>
                        </div>
                        <div class="col-lg-8">
                          <div class="row g-3">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Enter Amount">
                            </div>
                            <div class="col">
                              <button class="btn btn-primary btn-lg">Transfer Now</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Circle box outside of the card -->
                  <div class="circle-container">
                    <button class="btn circle-box-left">
                      <i class="fas fa-angle-left fa-lg"></i>
                    </button>
                    <button class="btn circle-box-right">
                      <i class="fas fa-angle-right fa-lg"></i>
                    </button>
                  </div>
                </div>
              </section>




            </div>
          </div>

          <div class=" col-lg-4 mt-4">
            <div class="container ">
              <div class="card-accordion">
                <div class="div">
                  <div class="div-2 d-flex justify-content-between">
                    <div class="div-3">My Card</div>
                    <i class="fa fa-ellipsis-v" aria-hidden="true" style="padding-top: 6px;"></i>
                  </div>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header div-13" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne">
                          New Card
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body div-10">
                          <div class="atm-card">
                            <img src="../../../assets/img/cards/my-card.png" class="img-fluid">
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                            <div>Deactivate Your Card</div>
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="div-33">Card Holder</div>
                            <div class="div-34">Mirza Uraib</div>
                          </div>
                          <div class="div-35 d-flex justify-content-between">
                            <div class="div-36">Expire</div>
                            <div class="div-37">12/10/2025</div>
                          </div>
                          <div class="div-38 d-flex justify-content-between">
                            <div class="div-39">Card Number</div>
                            <div class="div-40">0123 4567 8910 1112</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion mt-2" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header div-13" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo">
                          Credit Card
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body div-10">
                          <div class="atm-card">
                            <img src="../../../assets/img/cards/my-card.png" class="img-fluid">
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                            <div>Deactivate Your Card</div>
                          </div>
                          <div class="div-32 d-flex justify-content-between">
                            <div class="div-33">Card Holder</div>
                            <div class="div-34">Mirza Uraib</div>
                          </div>
                          <div class="div-35 d-flex justify-content-between">
                            <div class="div-36">Expire</div>
                            <div class="div-37">12/10/2025</div>
                          </div>
                          <div class="div-38 d-flex justify-content-between">
                            <div class="div-39">Card Number</div>
                            <div class="div-40">0123 4567 8910 1112</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <section id="Transactions-History" class="mt-2">
          <h2 class="account-title p-2">Transactions History</h2>
          <div class="Transactions-History-Card">
            <div class="container">
              <table class="table  transaction-table">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Banks</th>
                    <th>Account Number</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Receipt</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="d-flex flex-row">
                      <span class="description-icon S">S</span>
                      <div class="ml-3 text-left">
                        M. Sameer<br>
                        <small>Family Support</small>
                      </div>
                    </td>
                    <td><img src="../../../assets/img/Logo/askari-bank-logo.png" alt="Askari Bank" class="bank-logo">
                    </td>
                    <td>98575463558974</td>
                    <td>28 Jan, 12.30 AM</td>
                    <td class="text-danger">-$2,500</td>
                    <td><button class=" btn t-download">Download</button></td>
                  </tr>
                  <tr>
                    <td class="d-flex flex-row">
                      <span class="description-icon A">A</span>
                      <div class="ml-3 text-left">
                        Amna<br>
                        <small>Family Support</small>
                      </div>
                    </td>
                    <td><img src="../../../assets/img/Logo/hbl-konnect-logo.png" alt="HBL KONNECT" class="bank-logo">
                    </td>
                    <td>98575463558974</td>
                    <td>28 Jan, 12.30 AM</td>
                    <td class="text-danger">-$2,500</td>
                    <td><button class=" btn t-download">Download</button></td>
                  </tr>
                  <tr>
                    <td class="d-flex flex-row">
                      <span class="description-icon S">S</span>
                      <div class="ml-3 text-left">
                        Sidra<br>
                        <small>Family Support</small>
                      </div>
                    </td>
                    <td><img src="../../../assets/img/Logo/askari-bank-logo.png" alt="Askari Bank" class="bank-logo">
                    </td>
                    <td>98575463558974</td>
                    <td>28 Jan, 12.30 AM</td>
                    <td class="text-danger">-$2,500</td>
                    <td><button class=" btn t-download">Download</button></td>
                  </tr>
                  <tr>
                    <td class="d-flex flex-row">
                      <span class="description-icon F">F</span>
                      <div class="ml-3 text-left">
                        Fatima Ali<br>
                        <small>Family Support</small>
                      </div>
                    </td>
                    <td><img src="../../../assets/img/Logo/hbl-konnect-logo.png" alt="HBL KONNECT" class="bank-logo">
                    </td>
                    <td>98575463558974</td>
                    <td>28 Jan, 12.30 AM</td>
                    <td class="text-danger">-$2,500</td>
                    <td><button class=" btn t-download">Download</button></td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-container">
                <div class="div-2">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  <div class="div-3">Previous</div>
                  <div class="div-4">1</div>
                  <div class="div-5">2</div>
                  <div class="div-5">3</div>
                  <div class="div-5">4</div>
                  <div class="div-9">Next</div>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>