.plus-svg{
    display: flex;
    margin: 0;
}
.card-title-acc{
   text-align: center;
   font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.card-title{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.card-text{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgba(186, 174, 174, 1);
}