<div class="ml-sm-auto col-lg-10 mt-2">
  <div class="main-card">
    <div class="d-flex justify-content-between align-items-center">
      <!-- <div class="account-title">Manage Your Account </div> -->
      <div class="container">
        <h4 class="account-title">Manage Your Account</h4>

        <div class="row mt-4">
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <img
                    src="../../../assets/img/cards/Icon-with-letter.svg"
                    class="card-img-top-1 p-0 mr-2"
                    alt="Icon"
                  />
                  <div class="account-title font-weight-bold">Mirza Uraib</div>
                </div>

                <h6 class="mb-2 font-weight-bold">Account Number</h6>
                <h6 class="mb-3 text-secondary">00257 596, 00202 899</h6>
                <h6 class="mb-2 font-weight-bold">Type</h6>
                <h6 class="mb-3 text-secondary">Savings Foreign Accounts</h6>
                <h6 class="mb-2 font-weight-bold">Status</h6>
                <h6 class="mb-3 text-secondary">Current</h6>
                <h6 class="mb-2 font-weight-bold">Branch Location</h6>
                <p class="address text-secondary">
                  Gulshan-e-Iqbal, Block 10, Near ABC
                </p>
                <hr class="doted-line" />
                <div class="col">
                  <button class="btn btn-edit btn-lg text-white">
                    Transfer Now
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <img
                    src="../../../assets/img/cards/Icon-with-letter.svg"
                    class="card-img-top-1 p-0 mr-2"
                    alt="Icon"
                  />
                  <div class="account-title font-weight-bold">Mirza Uraib</div>
                </div>

                <h6 class="mb-2 font-weight-bold">Account Number</h6>
                <h6 class="mb-3 text-secondary">00257 596, 00202 899</h6>
                <h6 class="mb-2 font-weight-bold">Type</h6>
                <h6 class="mb-3 text-secondary">Savings Foreign Accounts</h6>
                <h6 class="mb-2 font-weight-bold">Status</h6>
                <h6 class="mb-3 text-secondary">Current</h6>
                <h6 class="mb-2 font-weight-bold">Branch Location</h6>
                <p class="address text-secondary">
                  Gulshan-e-Iqbal, Block 10, Near ABC
                </p>
                <hr class="doted-line" />
                <div class="col">
                  <button class="btn btn-edit btn-lg text-white">
                    Transfer Now
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <img
                    src="../../../assets/img/cards/Icon-with-letter.svg"
                    class="card-img-top-1 p-0 mr-2"
                    alt="Icon"
                  />
                  <div class="account-title font-weight-bold">Mirza Uraib</div>
                </div>

                <h6 class="mb-2 font-weight-bold">Account Number</h6>
                <h6 class="mb-3 text-secondary">00257 596, 00202 899</h6>
                <h6 class="mb-2 font-weight-bold">Type</h6>
                <h6 class="mb-3 text-secondary">Savings Foreign Accounts</h6>
                <h6 class="mb-2 font-weight-bold">Status</h6>
                <h6 class="mb-3 text-secondary">Current</h6>
                <h6 class="mb-2 font-weight-bold">Branch Location</h6>
                <p class="address text-secondary">
                  Gulshan-e-Iqbal, Block 10, Near ABC
                </p>
                <hr class="doted-line" />
                <div class="col">
                  <button class="btn btn-edit btn-lg text-white">
                    Transfer Now
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-center add-more">
              <i class="fas fa-plus-circle fa-icon"></i>
              <h6 class="add-text mt-2">Add More Account</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
