// component css goes here
.ngStart {
    background: #f4f4f4;
    height: 37px;
    margin: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #287fc4;
}
.MainGridDiv{
    max-height: 50vh;
    overflow: scroll;
}