// component css goes here
.otp-field {
  margin: auto;
  width: 95%;
}

.OtpH2 {
  font-weight: normal;
  margin: auto;
}

.otp-field input {
  width: 62px;
  font-size: 32px;
  height: 59px;
  text-align: center;
  border-radius: 5px;
  margin: 6px;
  border: 2px solid white;
  background: white;
  font-weight: bold;
  color: #000;
  outline: none;
}

.otp-field input:focus {
  transition: 0.6s ease;
  transform: scale(1.1);
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.541);
  // box-shadow: 0 0 2px 2px #1EBBD7;
}

@media (min-width: 320px) and (max-width: 642px) {



  .otp-field input {
    width: 31px;
    height: 37px;

  }
}