@import '../../assets/scss/core/variables/colors';
$PrimaryColor: $PrimaryWebOrient;

.Background-Primary {
  background: url('../../assets/img/Backgrounds/signup-BG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.CNT-LFT {
  img {
    width: 80%;
  }

  .Content-Sec1 {
    margin-top: 75px;
  }

  .Content-Sec1 p:nth-child(1) {
    color: white;
    font-size: 42px;
    font-weight: bold;

    span {
      color: $PrimaryColor;
    }
  }

  .Content-Sec1 p:nth-child(2) {
    color: white;
    font-size: 30px;
  }

  .Content-Sec1 p:nth-child(3) {
    color: white;
  }
}

.FormDiv {
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.36);
  border: 1px solid dimgrey;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 2px #7f7f7f8f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 22px;

  .row:nth-child(1) {
    text-align: left;

    .TopUpCnt {
      padding: 45px;
    }

    h4 {
      color: white;
      font-size: 29px;
    }
  }

  p {
    color: white;
    font-size: 13px;
  }
}

.form-row {
  .FieldDiv {
    padding: 0px 50px 0px 50px;

    label {
      color: white;
      font-weight: 600;

    }

    input {
      padding: 23px;
    }
  }
}

.TrnBtn {
  color: white;
  font-weight: 700;
  padding: 14px;
  background: $PrimaryColor;
}

.TrnBtn.Back {
  background: none !important;
  border: 1px solid #9f9f9f !important;
}

.TrnBtn.CrtAcnt {
  background: #b8b8b840;
  border: 2px solid #B8B8B8;
}

.AlrAcc p {
  text-align: center !important;
  font-weight: 600 !important;

  span {
    color: $PrimaryColor;
    cursor: pointer;
  }
}

.STP2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.FormModuleDIv {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Password Strength 
.progress {
  height: 5px;
}

.control-label {
  text-align: left !important;
  padding-bottom: 7px;
}

.form-horizontal {
  padding: 25px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}

select.form-control:focus {
  border-color: #e9ab66;
  box-shadow: none;
}

.block-help {
  font-weight: 300;
}

.terms {
  text-decoration: underline;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.divider {
  position: absolute;
  height: 2px;
  border: 1px solid #eee;
  width: 100%;
  top: 10px;
  z-index: -5;
}

.ex-account {
  position: relative;
}

.ex-account p {
  background-color: rgba(255, 255, 255, 0.41);
}

select:hover {
  color: #444645;
  background: #ddd;
}

.fa-file-text {
  color: #edda39;
}

.mar-top-bot-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-unstyled {
  line-height: 2;

  .fa-times {
    color: #b60505;
    font-size: 13px !important;
    font-weight: lighter !important;
    padding-right: 5px;
  }

  li {
    color: #e1e1e1;
    font-size: 13px;
    font-weight: 600;

    span.blueLable {
      color: $PrimaryColor;
      font: 700;
    }
  }
}

.Fgt {
  color: white;
  font-size: 12px;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

// ---------------------------------------------------
.SecurityImageDiv {
  background-color: rgba(0, 0, 0, 0.4196078431);
  padding: 17px;
  border-radius: 6px;

  h3 {
    font-size: 15px;
    color: white;
    font-weight: 500;
  }

  .row {
    margin-top: 9px;

    div.col {
      cursor: pointer;
      margin-top: 10px;

      i {
        border: 2px solid white;
        font-size: 20px ;
        color: white;
        border-radius: 5px;
        padding: 10px;
        width: 44px;
      }

      i:hover {
        border: 2px solid $PrimaryColor;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
  
}
.icon-container {
  padding: 5px;
  color: white;
  border: 1px solid white;
  text-align: center;
  margin-bottom: 7px;
  font-size: 27px;
  width: 50px;
  height: 50px;
}
.icon-item {
  flex: 0 0 20%; /* Five items per row */
  max-width: 20%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.6s ease;
}
.icon-item.selected .icon-container{
  border: 1px solid $PrimaryColor !important;
}
@media (max-width: 768px) {
  .icon-item {
    flex: 0 0 33.33%; /* Three items per row on small screens */
    // max-width: 33.33%;
  }
  .icon-container {
    padding: 5px;
    margin-bottom: 8px;
    font-size: 14px;
    /* width: 35px; */
    height: 35px;
  }
}
@media (max-width: 576px) {
  .icon-item {
    flex: 0 0 50%; /* Two items per row on extra small screens */
    max-width: 25%;
  }
}


@media (max-width: 1440px)  {
  .TopUpCnt {
    padding: 5px 66px 0px 55px !important;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .CNT-LFT .Content-Sec1{
    margin-top: 1px !important;
  }
  // .SecurityImageDiv .row  i{
  //   font-size: 17px !important;
  //   padding: 5px !important;
  //   width: 32px !important;
  // }
  .FormDiv .row .TopUpCnt {
    padding: 5px 66px 0px 55px !important;
  }
  .CNT-LFT .Content-Sec1 p:nth-child(1){
    font-size: 37px !important;
  }

}
@media (max-width: 768px) {
  .CNT-LFT .Content-Sec1 p:nth-child(1){
    font-size: 29px !important;
  }
  .FormDiv .row .TopUpCnt {
    padding: 5px 30px 0px 30px !important ;
  }
  .form-row .FieldDiv {
    padding: 5px 30px 0px 30px !important ;
  }
  .SecurityImageDiv{
    padding: 8px !important;
  }
  // .SecurityImageDiv .row i{
  //   font-size: 16px !important;
  //   padding: 3px !important;
  //   width: 25px !important;
  // }
  .SecurityImageDiv .row{
    margin-top: 0px !important;
  }
  .FormDiv{
    padding-bottom: 6px !important;
  }
}
@media (min-width: 320px) and (max-width: 642px) {
  .Content-Sec1 p:nth-of-type(1) {
    display: none ;
  }
  .Fourth-Step{
    width: 18rem;
  }
  .Content-Sec1 p:nth-of-type(2) {
    display: none ;
  }
  .Content-Sec1 p:nth-of-type(3) {
    display: none ;
  }
  .TopUpCnt{
    display: none;
  }
  // .Background-Primary {
  //   height: 130vh;
  // }
  .FormDiv .row :nth-child(1) h4[_ngcontent-oat-c68] {
    font-size: 18px !important;
  }
  .FormDiv p{
    font-size: 10px !important;
  }
  .FormDiv .row .TopUpCnt {
    padding: 5px 20px 0px 20px !important;
  }
  .form-row .FieldDiv{
    padding: 5px 20px 0px 20px !important;
  }
  .form-control{
    font-size: 16px !important;
  }
  .form-row .FieldDiv input {
    padding: 0px 10px 0px 10px !important;
  }
  // .SecurityImageDiv .row i{
  //   font-size: 12px !important;
  //   padding: 5px !important;
  //   width: 25px !important;
  // }
  .TrnBtn{
    padding: 8px;  
  }
  .CNT-LFT {
    text-align: center;
  }
  .CNT-LFT img{
    width: 50%;
  }
  .icon-container .centered {
    margin-left: auto;
    margin-right: auto;
  }
  .icon-row {
    justify-content: center;
  }
 
}
@media (min-width: 425px) and (max-width: 642px) {
  .CNT-LFT img{
      width: 50%;
  }
}
