// component css goes here
.error {
    color: #c92929 !important;
}

.success {
    color: green !important;
}

.warning {
    color: yellow !important;
}

.info {
    color: blue !important;
}

.color-btn-error {
    background-color: #c92929;
    color: white;
}