// component css goes here
.SearchMain {
    height: auto;
    // border-bottom: 1px solid #ddddddad;

    .input-group {
        padding-top: 33px;
        padding-left: 36px;
    }

    .col-md-4 {
        padding-top: 34px;
        padding-left: 43px;
    }
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.mat-radio-group {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
}
.radioButtonSection {
    label {
        color: green;
        font-size: 13px;
        padding-bottom: 6px;
    }
}
.form-select{
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}