@import "../../assets/scss/core/variables/colors";
$PrimaryColor: $PrimaryWebOrient;

.Background-Primary {
  background: url("../../assets/img/Backgrounds/signup-BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.password-wrapper {
  position: relative;
}

.fa-eye, .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.CNT-LFT {
  img {
    width: 80%;
  }

  .Content-Sec1 {
    margin-top: 75px;
  }

  .Content-Sec1 p:nth-of-type(1) {
    color: white;
    font-size: 42px;
    font-weight: bold;
  }

  .Content-Sec1 p:nth-of-type(1) span {
    color: $PrimaryColor;
    /* Assuming $PrimaryColor is defined elsewhere */
  }

  .Content-Sec1 p:nth-of-type(2) {
    color: white;
    font-size: 30px;
  }

  .Content-Sec1 p:nth-of-type(3) {
    color: white;
  }
}

.FormModuleDIv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormDiv {
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.36);
  border: 1px solid dimgrey;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 2px #7f7f7f8f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 22px;
}

.FormDiv .TopUpCnt {
  padding: 27px;
  text-align: center;
}

.FormDiv h4 {
  color: white;
  font-size: 29px;
}
.btn:disabled {
  opacity: 1 !important;
  cursor: not-allowed;
}
.FormDiv p {
  color: white;
  font-size: 13px;
}

.form-row {
  margin-top: 20px;
}

.form-row .FieldDiv {
  padding: 0px 42px 0px 38px;
}

.form-row label {
  color: white;
  font-weight: 600;
}

.form-row input {
  padding: 23px;
}

.form-row .TrnBtn {
  color: white;
  font-weight: 700;
  padding: 12px;
  margin-right: 10px;
  background: $PrimaryColor;
  margin-top: 13px;
}

.form-row .TrnBtn.Back {
  background: none;
  border: 1px solid #9f9f9f;
  line-height: 1.6;
  margin-top: 20px;
}

.form-row .AlrAcc {
  text-align: center;
  margin-top: 10px;
}

.form-row .AlrAcc span {
  color: #e9ab66;
  cursor: pointer;
}

.form-row .STP2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
.info {
  font-size: 14px;
  color: #a7acb1;
}
.progress {
  height: 4px;
}
.blueLable {
  color: $PrimaryColor;
}
.blueLable-case {
  color: $PrimaryColor;
  margin-left: -3px;
}
.Link{
  color: $PrimaryColor;
 cursor: pointer;
}
.modal-content {
  border: 0px ;
}
::ng-deep .modal-title {
  color: white !important;
}
::ng-deep .modal-footer {
  display: none;
}
.button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
  margin-right: 30px;
}

.button.is-ghost:hover, .button.is-ghost:focus {
  background-color: #dfdad7;
}

.button.is-primary {
  background-color: $PrimaryColor;
  color: #fff;
}

.button.is-primary:hover, .button.is-primary:focus {
  background-color: $PrimaryColor;
}

@media (min-width: 320px) and (max-width: 642px) {
  .Background-Primary {
    height: auto;
  }

  .container {
    overflow-y: auto;
    max-height: 100vh;
  }

  .CNT-LFT {
    text-align: center;
  }

  .CNT-LFT {
    img {
      height: 60px;
      width: auto;
    }
  }

  .Content-Sec1 p:nth-of-type(1) {
    display: none;
  }

  .Content-Sec1 p:nth-of-type(2) {
    display: none;
  }

  .Content-Sec1 p:nth-of-type(3) {
    display: none;
  }

  .Content-Sec1 {
    margin-top: 0 !important;
  }

  .FormDiv .TopUpCnt {
    padding: 10px;
  }

  .FormDiv h4 {
    font-size: 18px;
  }

  .FormDiv p {
    font-size: 10px;
  }

  .form-control {
    font-size: 10px;
  }

  .form-row input {
    padding: 14px;
  }

  .form-row .TrnBtn {
    padding: 3px;
    bottom: 6px;
  }

  .form-row .TrnBtn.Back {
    line-height: 1.6;
    margin-top: 12px;
  }

  .info {
    color: white;
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .Background-Primary {
    height: auto;
  }

  .container {
    overflow-y: auto;
    max-height: 100vh;
  }

  .CNT-LFT {
    img {
      height: 99px;
      width: auto;
    }
  }

  .info {
    color: white;
  }
}
