@import '../../../assets/scss/core/variables/colors';
$PrimaryColor: $PrimaryWebOrient;

#sidebar {
    background: #F9FAFC;
    height: 100vh;
    position: fixed;
    /* Full height */
}
  
#sidebar .sidebar-header {
    color: #fff;
    padding: 10px;
}
  
#sidebar ul {
    padding-left: 10px;
    list-style: none;
}
  
#sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    width: 225px;
}

  
#sidebar ul li a:hover {
    color: $PrimaryColor;
  }
  
#sidebar ul li img {
    width: 25px;
    margin-right: 10px;
}
  
#sidebar .list-unstyled i {
    margin-right: 11px;
    font-size: 30px !important;
}
  
  
#sidebar ul li img.img-2 {
    width: 26px;
}
  
#sidebar ul li img.img-3 {
    width: 22px;
}
  