<div class="container-fluid ">
    <div class="row">
        <div class="ml-sm-auto col-lg-10 mt-2">
            <div class="main-card py-2">
                <div class="d-flex justify-content-between align-items-center tittle-div">
                    <div class="account-title ">
                        Transactions History
                    </div>                    
                    <div class="d-flex align-items-center gap-2">
                      <ics-dropdown
                        class="form-label"
                        aria-placeholder="hello"
                        [(value)]="profileForm.value.TransferName"
                        placeholder="Select Account"
                        [data]="TransferData"
                        valueMember="Id"
                        displayMember="TransferName"
                        (selectionChange)="onDropdownChange()"
                      ></ics-dropdown>
                        <button class="btn btn-download border-info p-2 rounded mb-3">
                            <i class="fa fa-download"></i>
                            Download Report
                        </button>
                    </div>
                </div> 
                <section id="Transactions-History" class="mt-2">
                    <div class="Transactions-History-Card">
                      <div class="container">
                        <table class="table  transaction-table">
                          <thead>
                            <tr>
                              <th>Description</th>
                              <th>Banks</th>
                              <th>Account Number</th>
                              <th>Date</th>
                              <th>Amount</th>
                              <th>Receipt</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="d-flex flex-row">
                                <span class="description-icon s">S</span>
                                <div class="ml-3 text-left">
                                  M. Sameer<br>
                                  <small>Family Support</small>
                                </div>
                              </td>
                              <td><img src="../../../assets/img/Logo/askari-bank-logo.png" alt="Askari Bank" class="bank-logo">
                              </td>
                              <td>98575463558974</td>
                              <td>28 Jan, 12.30 AM</td>
                              <td class="text-danger">-$2,500</td>
                              <td><button class=" btn t-download">Download</button></td>
                            </tr>
                            <tr>
                              <td class="d-flex flex-row">
                                <span class="description-icon A">A</span>
                                <div class="ml-3 text-left">
                                  Amna<br>
                                  <small>Family Support</small>
                                </div>
                              </td>
                              <td><img src="../../../assets/img/Logo/hbl-konnect-logo.png" alt="HBL KONNECT" class="bank-logo">
                              </td>
                              <td>98575463558974</td>
                              <td>28 Jan, 12.30 AM</td>
                              <td class="text-danger">-$2,500</td>
                              <td><button class=" btn t-download">Download</button></td>
                            </tr>
                            <tr>
                              <td class="d-flex flex-row">
                                <span class="description-icon S">S</span>
                                <div class="ml-3 text-left">
                                  Sidra<br>
                                  <small>Family Support</small>
                                </div>
                              </td>
                              <td><img src="../../../assets/img/Logo/askari-bank-logo.png" alt="Askari Bank" class="bank-logo">
                              </td>
                              <td>98575463558974</td>
                              <td>28 Jan, 12.30 AM</td>
                              <td class="text-danger">-$2,500</td>
                              <td><button class=" btn t-download">Download</button></td>
                            </tr>
                            <tr>
                              <td class="d-flex flex-row">
                                <span class="description-icon F">F</span>
                                <div class="ml-3 text-left">
                                  Fatima Ali<br>
                                  <small>Family Support</small>
                                </div>
                              </td>
                              <td><img src="../../../assets/img/Logo/hbl-konnect-logo.png" alt="HBL KONNECT" class="bank-logo">
                              </td>
                              <td>98575463558974</td>
                              <td>28 Jan, 12.30 AM</td>
                              <td class="text-danger">-$2,500</td>
                              <td><button class=" btn t-download">Download</button></td>
                            </tr>
                            <tr>
                                <td class="d-flex flex-row">
                                  <span class="description-icon M">M</span>
                                  <div class="ml-3 text-left">
                                    Maaz Khan<br>
                                    <small>Family Support</small>
                                  </div>
                                </td>
                                <td><img src="../../../assets/img/Logo/askari-bank-logo.png" alt="HBL KONNECT" class="bank-logo">
                                </td>
                                <td>98575463558974</td>
                                <td>28 Jan, 12.30 AM</td>
                                <td class="text-danger">-$2,500</td>
                                <td><button class=" btn t-download">Download</button></td>
                              </tr>
                              <tr>
                                <td class="d-flex flex-row">
                                  <span class="description-icon N">N</span>
                                  <div class="ml-3 text-left">
                                    Nida<br>
                                    <small>Family Support</small>
                                  </div>
                                </td>
                                <td><img src="../../../assets/img/Logo/hbl-konnect-logo.png" alt="HBL KONNECT" class="bank-logo">
                                </td>
                                <td>98575463558974</td>
                                <td>28 Jan, 12.30 AM</td>
                                <td class="text-danger">-$2,500</td>
                                <td><button class=" btn t-download">Download</button></td>
                              </tr>
                          </tbody>
                        </table>
                        <!-- <div class="pagination-container">
                          <div class="div-2">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <div class="div-3">Previous</div>
                            <div class="div-4">1</div>
                            <div class="div-5">2</div>
                            <div class="div-5">3</div>
                            <div class="div-5">4</div>
                            <div class="div-9">Next</div>
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </section>    
                 
            </div>
        </div>
    </div>
</div>