<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">

                        <a href="javascript:void(0)">
                            <img class="img" src="../../assets/img/faces/marc.png" />
                        </a>

                    </div>
                    <div class="card-body" style="align-content: center;">
                        <h6 class="card-category text-gray">Last Login : <strong>{{test }}</strong></h6>
                        <h6 class="card-category text-gray">Last Password Changed : <strong>13 Days</strong></h6>
                        <h4 class="card-title"> <strong>Hello,</strong> Meer Hamza</h4>
                        <h2 class="card-title text-center">
                            Funds Transfer
                        </h2>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <!--MY ACCOUNTS TAB-->
                            <a class="nav-item nav-link active" id="nav-accounts-tab" data-toggle="tab"
                                href="#nav-accounts" role="tab" aria-controls="nav-accounts" aria-selected="true">My
                                Accounts</a>
                            <!--MY WALLET TAB-->
                            <a class="nav-item nav-link" id="nav-wallet-tab" data-toggle="tab" href="#nav-wallet"
                                role="tab" aria-controls="nav-wallet" aria-selected="false">Wallet</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--MY ACCOUNTS TAB-->
                        <div class="tab-pane fade active show" id="nav-accounts" role="tabpanel"
                            aria-labelledby="nav-accounts-tab">
                            <div class="container-fluid">

                                <div class="row" style="padding-top: 37px;">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Search by Account</mat-label>
                                                        <input matInput placeholder="Search">
                                                        <mat-icon matSuffix>search</mat-icon>
                                                    </mat-form-field>
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <button mat-raised-button type="button" (click)="OpenModal()"
                                                    class="btn btn-danger pull-right CustomButton">
                                                    Funds Transfer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ics-modal #Modal1 Caption="Funds Transfer" (onSave)="SuccessPopup()">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ics-dropdown caption="Select Your Account" [data]="accountData"
                                                    valueMember="Id" displayMember="accountname"></ics-dropdown>
                                            </div>
                                            <div class="col-md-6">
                                                <ics-dropdown caption="Select Beneficiary Type" [data]="BankData"
                                                    valueMember="Id" displayMember="bankname"></ics-dropdown>
                                            </div>
                                            <div class="col-md-6">
                                                <ics-dropdown caption="Select Payment For" [data]="TypeData"
                                                    valueMember="Id" displayMember="forname"></ics-dropdown>
                                            </div>

                                            <div class="col-md-6">
                                                <ics-dropdown caption="Select Beneficiary" [data]="TypeData"
                                                    valueMember="Id" displayMember="forname"></ics-dropdown>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <input type="number" #input class="form-control"
                                                        placeholder="Amount" (input)="handleAmountChange(input.value)">
                                                    <span class="AmountInfoSpan">Available Balance: <span
                                                            [style.color]="CurrentDisBal > 0 ? 'green' : 'red'">RS
                                                            {{CurrentDisBal}}</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ics-modal>
                                <div class="row">
                                    <div class="TableMain col-md-12">
                                        <ics-grid></ics-grid>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-wallet" role="tabpanel" aria-labelledby="nav-wallet-tab">
                            <div class="container-fluid">
                                <div class="col-md-4">
                                    <div class="card">
                                        <select class="form-select">
                                            <option selected>From Wallet</option>
                                            <option value="1">xxx xxxxxx xx</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <select class="form-select">
                                            <option selected>To Wallet</option>
                                            <option value="1">My DIGI-BANK Account</option>
                                            <option value="1">My JazzCash Account</option>
                                            <option value="1">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <form>
                                            <input type="number" #input class="form-control" placeholder="Amount"
                                                (input)="handleAmountChange(input.value)">
                                            <span
                                                [style.color]="remainingAmountNew > 0 ? 'green' : 'red'">{{remainingAmountNew}}</span>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <select class="form-select">
                                            <option selected>Others</option>
                                            <option value="1">Card Bill Payment</option>
                                            <option value="1">Rental Payment</option>
                                            <option value="1">Hotel Payment</option>
                                            <option value="1">School and University Fee Payment</option>
                                            <option value="1">Donations or Charity</option>
                                            <option value="1">Supplier and Distributor Payment</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ics-modal #NewModal1 Caption="Notification" [hideHeader]="true" [hideFooter]="true">
    <success-popup></success-popup>
</ics-modal>