<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-4 Background-Primary">
				<div class="container" style="margin: auto; display:flex;">
					<div class="row" style="height: 100vh;">
						<div class="col-lg-6 col-md-6 col-sm-2 col-xs-2 CNT-LFT">
							<div class="row">
								<div class="col-lg-6 col-md-6 mt-4">
									<img src="../../assets/img/Logo/logo.png" />
								</div>
							</div>
							<div class="row Content-Sec1">
								<div class="col-lg-12 col-md-6 mt-4">
									<p>
										Join the Future of Banking<br /> Simplify Your <span>Finances</span><br />
										Join Us Today!
									</p>
									<p class="mt-4">
										Join Digi-Bank Today
									</p>
									<p class="">Experience the future of banking with Digi-Bank. Sign up now to manage
										your
										finances anytime, anywhere.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-2 col-xs-2 FormModuleDIv">
							<div class="row" style="margin: auto;">
								<div class="col-lg-12 col-md-6 col-sm-4 col-xs-4">
									<div class="FormDiv">
										<div class="row">
											<div class="col-lg-12 col-md-6 col-sm-4 col-xs-4">
												<div class="row">
													<div class="col-lg-12 col-md-6 col-sm-4 col-xs-4 TopUpCnt">
														<h4>{{tittle}}
														</h4>
														<p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit
															amet consectetur. Lorem ipsum dolor sit amet consectetur.
														</p>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-12 col-md-6 col-sm-4 col-xs-4">
														<div class="row">
															<form class="Fourth-Step" [formGroup]="myForm">
																<div class="form-row align-items-center"
																	*ngIf="activityModemStep == 1">
																	<div
																		class="col-lg-12 col-md-12 col-sm-6 col-xs-4  FieldDiv">
																		<label for="inlineFormInput">CNIC
																			*</label>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i
																						class="fa fa-solid fa-address-card"></i>
																				</div>
																			</div>
																			<input type="text" class="form-control"
																				id="inlineFormInputGroup"
																				placeholder="Enter Your CNIC"
																				formControlName="cnicNumber">
																		</div>
																	</div>
																	<div
																		class="col-lg-12 col-md-12 col-sm-6 col-xs-4  FieldDiv">
																		<label for="inlineFormInput">Account
																			Number*</label>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i
																						class="fa fa-solid fa-credit-card"></i>
																				</div>
																			</div>
																			<input type="text" class="form-control"
																				id="inlineFormInputGroup"
																				placeholder="Enter Your Account Number"
																				formControlName="accountNumber">
																		</div>
																	</div>
																	<div class="col-lg-12 col-md-12 col-sm-6 col-xs-4 FieldDiv"
																		style="line-height: 4;">
																		<button type="button"
																			class="col-lg-12 btn btn-primary TrnBtn"
																			(click)="ForgetUserGetEmail()">Submit</button>
																		<button type="button"
																			class="col-lg-12 btn btn-primary TrnBtn CrtAcnt"
																			(click)="BackLogin()">Back</button>
																	</div>
																</div>
																<div class="form-row align-items-center"
																	*ngIf="activityModemStep == 2">
																	<div
																		class="col-lg-12 col-md-12 col-sm-6 col-xs-4 FieldDiv">
																		<otp-verification #otpInput></otp-verification>
																	</div>
																	<div class="col-lg-12 col-md-12 col-sm-6 col-xs-4 FieldDiv"
																		style="line-height: 4;">
																		<button (click)="VerifyOTP()" type="button"
																			class="col-lg-12 btn btn-primary TrnBtn">
																			Verify
																		</button>
																		<button (click)="NextActivity(1)" type="button"
																			class="col-lg-12 btn btn-primary TrnBtn Back">
																			Cancel
																		</button>
																	</div>
																</div>
																<div class="form-row align-items-center"
																	*ngIf="activityModemStep == 3">
																	<div
																		class="col-lg-12 col-md-12 col-sm-6 col-xs-4  FieldDiv">
																		<label for="inlineFormInput">New
																			Password*</label>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i
																						class="fa fa-solid fa-credit-card"></i>
																				</div>
																			</div>
																			<input type="password" class="form-control"
																				id="inlineFormInputGroup"
																				placeholder="Chosse Your Password"
																				formControlName="newpass">
																		</div>
																	</div>
																	<div
																		class="col-lg-12 col-md-12 col-sm-6 col-xs-4  FieldDiv">
																		<label for="inlineFormInput">Confirm
																			Password*</label>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i
																						class="fa fa-solid fa-credit-card"></i>
																				</div>
																			</div>
																			<input type="password" class="form-control"
																				id="inlineFormInputGroup"
																				placeholder="Confirm Your Password"
																				formControlName="confirmpass">
																		</div>
																	</div>
																	<div class="col-lg-12 col-md-12 col-sm-6 col-xs-4 FieldDiv"
																		style="line-height: 4;">
																		<button type="button"
																			class="col-lg-12 btn btn-primary TrnBtn"
																			(click)="ForgetPassword()">Submit</button>
																		<button type="button"
																			class="col-lg-12 btn btn-primary TrnBtn CrtAcnt"
																			(click)="BackLogin()">Back</button>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<ics-error #IcsError></ics-error>