<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="MainCont">
	<div class="BlackCover"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<span class="backarrow" (click)="StepDown()"
							[style.display]="stepCounter > 1 && stepCounter != 3 ? 'block' : 'none'"><i
								class="fa fa-arrow-left"></i></span>
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<h2 class="text-center">Forgot Password?</h2>
						<p>You can reset your password here.</p>
						<div class="panel-body">

							<form id="register-form" role="form" autocomplete="off" class="form" method="post">

								<div class="form-group" [style.display]="stepCounter == 1 ? 'block' : 'none'">
									<div class="input-group">
										<span class="input-group-addon"><i
												class="glyphicon glyphicon-briefcase color-blue"></i></span>
										<input id="email" name="cnic" placeholder="Enter CNIC" class="form-control"
											type="number">
									</div>
									<div class="input-group">
										<span class="input-group-addon"><i
												class="glyphicon glyphicon-credit-card color-blue"></i></span>
										<input id="email" name="email" placeholder="Enter Account No"
											class="form-control" type="text">
									</div>
								</div>
								<div class="form-group" [style.display]="stepCounter == 2 ? 'block' : 'none'">
									<otp-verification></otp-verification>
								</div>
								<div class="form-group" [style.display]="stepCounter == 3 ? 'block' : 'none'">
									<div class="input-group">
										<span class="input-group-addon"><i
												class="glyphicon glyphicon-equalizer color-blue"></i></span>
										<input id="email" name="email" placeholder="Enter New Password"
											class="form-control" type="text">
									</div>
									<div class="input-group">
										<span class="input-group-addon"><i
												class="glyphicon glyphicon-equalizer color-blue"></i></span>
										<input id="email" name="email" placeholder="Retype Password"
											class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6" style="padding-left: 0; visibility: hidden;">
											<div class="col-md-12">
												<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
													value="Back" 
													type="submit">
											</div>
										</div>
										<div class="col-md-6" style="padding-right: 0;">
											<div class="col-md-12">
												<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
													value="Next" (click)="StepUp()"
													[style.display]="stepCounter == 1 ? 'block' : 'none'" type="submit">
											</div>
											<div class="col-md-12">
												<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
													value="Verify" (click)="StepUp()" type="submit"
													[style.display]="stepCounter == 2 ? 'block' : 'none'">
											</div>
											<div class="col-md-12">
												<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
													value="Now Reset" type="submit"
													[style.display]="stepCounter == 3 ? 'block' : 'none'">
											</div>
										</div>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row Footer">
			<p>
				<span style="color: red;">Note:</span> In case of any difficulty, please call us at 0092-111-331-331/2
				for assistance.
			</p>
		</div>
	</div>
</div>