<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Screen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="logout-container">
        <form class="logout-form">
            <div class="mb-3">
                <img src="../../assets/img/Logo/logo.png" alt="DIGI-BANK Logo">
            </div>
            <div class="mb-3">
                <h4>Logged out successfully!</h4>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-lock">&nbsp;Login Date</i>
                        <div class="Login Date">
                            <p class="date" style="font-size:x-small; color: #1EBBD7;">Tue, 30 Jan 2024 12:14:02 PM</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-clock-o">&nbsp;Session Duration</i>
                        <div class="Session Duration">
                            <p class="time" style="font-size:x-small; color: #fff;">0 h:3 m : 13 s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <p>Thank you for using DIGI-BANK Internet Banking</p>
                <a href="http://localhost:4200/#/login" class="btn btn-primary">Login Again</a>
            </div>
        </form>
    </div>
</body>

</html>