<!--component html goes here -->
<div class="main-content pb-0 m-0">
    <div class="container-fluid">
        <div class="row">
            <label for="">From Account</label>
            <div class="card card-profile CustomRow m-0">
                <div style="margin: 0 !important">
                    <span>M</span>
                    <h3>Meer Hamza</h3>
                </div>
                <div>
                    <!-- <span>M</span> -->
                    <i class="material-icons" style="font-size: 28px;">person_outline</i>
                    <h3 style="padding-left: 1px;">89347923993889<b>&nbsp;Current</b></h3>
                </div>
                <div>
                    <i class="material-icons" style="font-size: 28px;">alternate_email</i>
                    <h3 style="padding-left: 1px;">Gulshan-e-Iqbal, Block 6</h3>
                    <h5 class="StatusCurr" *ngIf="Selected == true">Selected</h5>
                </div>
                <div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right CustomButton">
                        Edit Account
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>